<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net471" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net471" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="Serilog" version="2.7.1" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net471" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.12" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.12" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.12" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.12" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.12" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.12" targetFramework="net471" />
</packages>